/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  font: 1.2em / 1.5 system-ui
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 0.1rem;
  font: 1.2em / 1.5 system-ui bold
  
}

h2 {
    font-size: 2rem;
    margin-bottom: 0;
    letter-spacing: 0.08rem;
    font: 1.2em / 1.5 system-ui bold
}

h3 {
    font-size: 2rem;
    letter-spacing: 0.08rem;
    font: 1.2em / 1.5 system-ui bold
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

section h1 + p,
section h2 + p,
section h3 + p {text-indent: 2rem;}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0
}

nav li {
    margin: 0 0 1rem 0;
}

nav a {
    display: block;
    width: 100%;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-family: system-ui;
    text-decoration: none;
    background-color: lightcoral;
    color: white;
}

a {
    color: #aa6666;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}